@using Furn.ViewModel.Auth;
@model RegisterVM
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from themewagon.github.io/skydash/pages/samples/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 04 Oct 2023 07:31:18 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/skydash/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/skydash/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/skydash/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/skydash/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <img src="~/skydash/images/logo.svg" alt="logo">
                            </div>
                            <h4>New here?</h4>
                            <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
                            <div asp-validation-summary="ModelOnly">

                            </div>
                            <form class="pt-3" method="post">
                                <div class="form-group">
                                    <input asp-for="Fullname" class="form-control form-control-lg">
                                    <label asp-for="Fullname" for="floatingText"></label>
                                    <span asp-validation-for="Fullname" class="text-danger"></span>

                                </div>

                                <div class="form-group">
                                    <input  asp-for="Username" class="form-control form-control-lg" >
                                    <label asp-for="Username" for="floatingText"></label>
                                    <span asp-validation-for="Username" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <input asp-for="Email" class="form-control form-control-lg">
                                    <label asp-for="Email" for="floatingText"></label>
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <input asp-for="Password" class="form-control form-control-lg">
                                    <label asp-for="Password" for="floatingText"></label>
                                    <span asp-validation-for="Password" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <input asp-for="ConfirmPassword" class="form-control form-control-lg">
                                    <label asp-for="ConfirmPassword" for="floatingText"></label>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                                </div>

                                <div class="mt-3">
                                    <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"> SIGN UP</button>
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    Already have an account? <a asp-action="Login" asp-controller="Account" class="text-primary">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/skydash/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/skydash/js/off-canvas.js"></script>
    <script src="~/skydash/js/hoverable-collapse.js"></script>
    <script src="~/skydash/js/template.js"></script>
    <script src="~/skydash/js/settings.js"></script>
    <script src="~/skydash/js/todolist.js"></script>
    <!-- endinject -->
</body>


<!-- Mirrored from themewagon.github.io/skydash/pages/samples/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 04 Oct 2023 07:31:18 GMT -->
</html>

