@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

@await Component.InvokeAsync("NewDesign")
<!--/.populer-products-->
<!--populer-products end-->
<!--new-arrivals start -->
<section id="new-arrivals" class="new-arrivals">
	<div class="container">
		<div class="section-header">
			<h2>new arrivals</h2>
		</div><!--/.section-header-->
		<div class="new-arrivals-content">
			<div class="row">
				@await Component.InvokeAsync("Product")
			</div>
		</div>
	</div><!--/.container-->

</section><!--/.new-arrivals-->
<!--new-arrivals end -->
<!--sofa-collection start -->

@await Component.InvokeAsync("Collection")<!--/.sofa-collection-->
<!--sofa-collection end -->
<!--feature start -->
@await Component.InvokeAsync("Feature")<!--/.feature-->
<!--feature end -->
<!--blog start -->
@await Component.InvokeAsync("Blog")
<!--/.blog-->
<!--blog end -->
<!-- clients strat -->
<section id="clients" class="clients">
	<div class="container">
		<div class="owl-carousel owl-theme" id="client">
			<div class="item">
				<a href="#">
					<img src="~/furn-master/assets/images/clients/c1.png" alt="brand-image" />
				</a>
			</div><!--/.item-->
			<div class="item">
				<a href="#">
					<img src="~/furn-master/assets/images/clients/c2.png" alt="brand-image" />
				</a>
			</div><!--/.item-->
			<div class="item">
				<a href="#">
					<img src="~/furn-master/assets/images/clients/c3.png" alt="brand-image" />
				</a>
			</div><!--/.item-->
			<div class="item">
				<a href="#">
					<img src="~/furn-master/assets/images/clients/c4.png" alt="brand-image" />
				</a>
			</div><!--/.item-->
			<div class="item">
				<a href="#">
					<img src="~/furn-master/assets/images/clients/c5.png" alt="brand-image" />
				</a>
			</div><!--/.item-->
		</div><!--/.owl-carousel-->

	</div><!--/.container-->

</section><!--/.clients-->
<!-- clients end -->
<!--newsletter strat -->
<section id="newsletter" class="newsletter">
	<div class="container">
		<div class="hm-footer-details">
			<div class="row">
				<div class=" col-md-5 col-sm-6 col-xs-12">
					<div class="hm-footer-widget">
						<div class="hm-foot-title">
							<h4>information</h4>
						</div><!--/.hm-foot-title-->
						<div class="hm-foot-menu">
							<ul>
								<li><a href="#home">Home</a></li><!--/li-->
								<li><a href="#new-arrivals">New Arrival</a></li><!--/li-->
								<li><a href="#feature">Features</a></li><!--/li-->
								<li><a href="#blog">Blog</a></li><!--/li-->
								<li><a href="#newsletter">Contact</a></li><!--/li-->
							</ul><!--/ul-->
						</div><!--/.hm-foot-menu-->
					</div><!--/.hm-footer-widget-->
				</div><!--/.col-->
				<div class=" col-md-7 col-sm-6  col-xs-12">
					<div class="hm-footer-widget">
						<div class="hm-foot-title">
							<h4>Contact us</h4>
						</div><!--/.hm-foot-title-->
						<div class="hm-foot-email">
							<form action="~/Home/Contact/" method="post">
								<div class="foot-email-box">
									<input type="text" class="form-control" name="Name" placeholder="Enter Your Name ..." required>
								</div>
								<br />
								<div class="foot-email-box">
									<input type="email" class="form-control" name="Email" placeholder="Enter Email Here...." required>
								</div>
								<br />

								<div class="foot-email-box">
									<input type="text" class="form-control" name="Description" placeholder="Enter Your Message ..." required>
								</div>
								<br />
								<button class="btn btn-success" style="width:100px; height:50px; font-size:15px;" type="submit"> Send </button>
								@*<div class="foot-email-subscribe">
								<span><i class="fa fa-location-arrow"></i></span>
								</div>*@<!--/.foot-email-icon-->
							</form>
						</div><!--/.hm-foot-email-->
					</div><!--/.hm-footer-widget-->
				</div>
			@*	@await Component.InvokeAsync("Contact")*@<!--/.col-->
			</div><!--/.row-->
		</div><!--/.hm-footer-details-->

	</div><!--/.container-->

</section><!--/newsletter-->
<!--newsletter end -->
<!--footer start-->
